[% WRAPPER 'include/layout.tt' %]


<link href="[% uri_for('/static/google-code-prettify/prettify.css') %]" rel="stylesheet" type="text/css" media="screen" />
<script src="[% uri_for('/static/google-code-prettify/prettify.js') %]"></script>
<script>
    $(function () {
        $('pre.code').addClass('prettyprint');
        prettyPrint();
    });
</script>

[% doc %]

[% END %]
