Makefile
inc/
MANIFEST
*.bak
*.old
nytprof.out
nytprof/
development.db
test.db
blib/
pm_to_blib
META.yml
MYMETA.json
MYMETA.yml
*.db
config/production.pl
local/
.carton/
/Build
/_build/
carton.lock
/Ukigumo-Server-*
/.build
/_build_params
!Build/
!META.json
!LICENSE
/Build.bat
