language: perl
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
before_install:
  cpanm -n Devel::Cover::Report::Coveralls
install:
  cpanm --with-test --quiet --installdeps --notest .
script:
  perl Build.PL && ./Build build && cover -test -report coveralls
