[% WRAPPER 'include/layout.tt' WITH subtitle=project_name %]

<section>
<div class="row">
    <div class="span16">
        [% INCLUDE 'include/table/project.tt' WITH project_name=project_name, projects=projects %]
    </div>
</div>
</section>

[% END %]
