<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Ukigumo' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />  
    <meta http-equiv="Content-Script-Type" content="text/javascript" />  
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"]]>
	<meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="format-detection" content="telephone=no" />
    <link href="[% uri_for('/static/less/bootstrap/bootstrap.less') %]" rel="stylesheet/less" media="screen" />
    <script src="[% uri_for('/static/js/jquery-1.6.3.min.js') %]"></script>
    <script src="[% uri_for('/static/js/less-1.1.3.min.js') %]"></script>
    <link href="[% uri_for('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body[% IF bodyID %] class="[% bodyID %]"[% END %]>
    <div class="container">
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <h3><a href="[% uri_for('/') %]">Ukigumo</a></h3>
                </div>
            </div>
        </div>
        <div id="main">
            [% content %]
        </div>
        <footer>
            Powered by <a href="http://amon.64p.org/">Amon2</a>
        </footer>
    </div>
</body>
</html>
