[% WRAPPER 'include/layout.tt' %]

<hr class="space">

<section>
<div class="row">
    <h1>Delete branch</h1>

	<p>Really delete a '[% branch.branch %]' branch from '[% branch.project %]'? This action removes all reports on '[% branch.branch %]'</p>

	<form action="/branch/delete" method="post">
		<input type="hidden" name="branch_id" value="[% branch.branch_id %]" />
		<input type="submit" value="Delete!" class="btn primary" />
	</form>
</div>
</section>

<hr class="space">

[% END %]
